p {
    color: rgb(206, 0, 0);
}



img {
    width: 300px;
    border-radius: 10px;
    
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

h1 {
    font-family: nunito;
}

button {
    font-family: nunito;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 17px;
    border: none;
    background-color: burlywood;
}